<%- include('../partials/header')  %> 

<div class="container">
  <br>
  <h1 id="main-title">habits</h1>
  <br>

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">Habit</th>
        <th scope="col">Streak</th>
      </tr>
    </thead>
    <tbody>
      <% habits.forEach(h => { %> 
        <tr>
          <th scope="row"> </th>
          <td><%= h.habit %></td>
          <td><%= h.streak %> </td>
          <td><a href="/habits/<%= h._id %>">Details</a></td>
        </tr>
      <% }); %> 
    </tbody>
  </table>
</div>

<%- include('../partials/footer')  %> 