<%- include('../partials/header') %>

<section id="show-page">
    <h1><%= habit.habit %></h1>
    <div>Category: <%= habit.category %></div>
    <form action="/habits/<%= habit._id %>/?_method=DELETE" method="POST">
        <button class="delete-btn" type="submit">Delete</button>
    </form>
    <a href="/habits/<%= habit._id %>/edit">Edit</a>
</section>

<br>
<br>
<h2>Habit Log</h2>
<form id="habit-log-form" method="POST" action="/habits/<%= habit._id %>/logs">
    <label>Complete: </label>
    <input type="checkbox" name="complete" checked>
    <br>
    <br>
    <label>Notes:</label>
    <input type="text" name="note">
    <input type="submit" value="Submit">
</form>
<br>
<br>

<% if (habit.habitLog.length) { %>
    <table>
        <thead>
            <tr>
                <th>Date:</th>
                <th>Completed:</th>
                <th>Notes:</th>
            </tr>
        </thead>
        <tbody>
            <% habit.habitLog.forEach(function(h){ %> 
                <tr>
                    <td><%= h.date.toLocaleDateString() %> </td>
                    <td><%= h.complete %></td>
                    <td><%= h.note %></td>
                </tr>
            <%}); %> 
        </tbody>
    </table>

<% } else { %> 
    <h5>No logs yet</h5>    
<% } %>  

<%- include('../partials/footer') %>