<%- include('../partials/header') %>

<section id="show-page">
    <div><%= habit.habit %></div>
    <div><%= habit.category %></div>
</section>

<br>
<br>
<h2>Habit Log</h2>
<form id="habit-log-form" method="POST" action="/habits/<%= habit._id %>/logs">
    <label></label>
</form>


<%- include('../partials/footer') %>